include ./promo-slider.pug

mixin features(props)
  -
    const {features, slides} = props;

  div(class="features-list")
    each item in features
      -
        const className = `features-list__item
          ${item.isNew
            ? 'catalog-product-card--new' : ''}`;

      div(class=className)
        p= item.title
        a(class="site-link features-link" href="#")= item.link

    +promoSlider(slides)
