footer(class="main-footer")
  div(class="main-footer__top")
    div(class="main-footer__top-wrapper container")
      div(class="main-footer__address")
        h2(class="visually-hidden") Наш адрес
        a(class="site-logo" href="/" aria-label="на главную страницу")
        p г.&nbsp;Санкт-Петербург, ул.&nbsp;Б.&nbsp;Конюшенная, д.&nbsp;19/8<br>
          a(class="phone-link" href="tel:78125550555" aria-label="наш телефон") +7&nbsp;(812)&nbsp;555-05-55
      nav(class="main-footer__nav")
        h2(class="visually-hidden") Карта сайта
        ul(class="main-footer__nav-list")
          -
            const linksUpper = [
              {title: 'Компания', url: 'blank'},
              {title: 'Новости', url: 'blank'},
              {title: 'Каталог', url: 'catalog'},
              {title: 'Доставка', url: 'blank'},
              {title: 'Контакты', url: 'blank'}
            ];

          each link in linksUpper
            li
              a(class="nav-link" href=`/${link.url}`)= link.title

        ul(class="main-footer__nav-list")
          -
            const linksBottom = [
              {title: 'Материалы', url: 'blank'},
              {title: 'Техника', url: 'blank'},
              {title: 'Инструмент', url: 'blank'},
              {title: 'Спецпредложения', url: 'blank'}
            ];

          each link in linksBottom
            li
              a(class="nav-link" href=`/${link.url}`)= link.title

  div(class="main-footer__bottom")
    div(class="main-footer__bottom-wrapper container")
      div(class="main-footer__copyright")
        p &copy;&nbsp;2010&ndash;2019 Компания &laquo;Техномарт&raquo;
        p Все права защищены
      div(class="main-footer__social-links")
        h2(class="visually-hidden") Мы в Интернете
        a(class="social-link-vk" href="#" aria-label="мы вконтакте")
        a(class="social-link-fb" href="#" aria-label="мы в facebook")
        a(class="social-link-insta" href="#" aria-label="мы в instagram")
      div(class="main-footer__support-contacts")
        <p>Обратная связь:
          <a class="host-mail" href="mailto:mail@htmlacademy.ru" aria-label="электронная почта">mail@htmlacademy.ru</a>
        </p>
        <p>Разработано &mdash;
          <a class="dev-site" href="https://htmlacademy.ru/intensive/htmlcss" aria-label="сайт разработчика">htmlacademy.ru</a>
        </p>
          </div>
