mixin promoSlider(slides)
  div(class="promo-slider promo-slider__slide-1")
    ul(class="promo-slider__list")
      each slide in slides
        -
          const className = `promo-slider__list-item
            ${slide.isActive
              ? 'promo-slider__list-item--active' : ''}`;

        li(class=className)
          div(class="promo-slider__heading")
            p(class="promo-slider__subtitle")= slide.title
            p(class="promo-slider__slogan")= slide.desc

    div(class="promo-slider__nav")
      button(class="promo-slider__prev-btn" type="button" data-id="prev" aria-label="предыдущий слайд")
      button(class="promo-slider__next-btn" type="button" data-id="next" aria-label="следующий слайд")
    a(class="site-link" href="catalog") открыть каталог
    div(class="promo-slider__controls")
      button(class="promo-slider__controls--active" type="button" data-id="1" aria-label="первый слайд")
      button(type="button" data-id="2" aria-label="второй слайд")
