doctype html
html(class="page" lang="ru")
  head
    title Техномарт - #{title}
    link(rel="apple-touch-icon" href="images/icons/favicon-180.png")
    link(rel="stylesheet" href="../stylesheets/normalize.css")
    link(rel='stylesheet', href='../stylesheets/style.css')
  body(class="page-body")
    include partials/header.pug
    main
      block content
    include partials/footer.pug
